<ng-container *ngIf="subscriptionEntity && !loading">
    <div class="container">
        <div class="row">
            <div class="col">
                <mat-card class="example-card mt-4">
                    <mat-card-header>
                        <mat-card-title>{{ 'subscriptionDetail.salutation' | translate }}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-container *ngIf="(subscriptionEntity.created && subscriptionEntity.periodEnd)">
                            <p class="ml-3">{{ 'subscriptionDetail.subscriptionStart' | translate }} :{{setUpDates(subscriptionEntity.created)}}</p>
                            <p class="ml-3">{{ 'subscriptionDetail.cycleEnd' | translate }} : {{setUpDates(subscriptionEntity.periodEnd)}}</p>
                        </ng-container>
                        <ng-container *ngIf="!(subscriptionEntity.created && subscriptionEntity.periodEnd)">
                            <p>{{ 'subscriptionDetail.noSubscription' | translate }}</p>
                        </ng-container>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>

            </div>
        </div>
        <div class="row">
            <div class="col w-50 ">
                <mat-card class="example-card mt-4">
                    <mat-card-header *ngIf="subscriptionEntity.stripeSubscriptionProducts">
                        <mat-card-title>{{subscriptionEntity.stripeSubscriptionProducts.productName}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <ng-container *ngIf="subscriptionEntity.stripeSubscriptionProducts">
                            <div class="container">
                                <div class="row">
                                    <div class="col w-75">
                                        <p class="ml-3">
                                            {{subscriptionEntity.stripeSubscriptionProducts.productDescription}}
                                        </p>
                                        <p class="ml-3">{{subscriptionEntity.stripeSubscriptionProducts.productPrice}} $ {{ 'subscriptionDetail.perMonth' | translate }}</p>
                                    </div>
                                    <div class="col w-25">
                                        <button (click)="cancelSubscription()" class="w-100 bg-danger text-white"
                                            mat-button>{{ 'subscriptionDetail.cancelSub' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!subscriptionEntity.stripeSubscriptionProducts">
                            <div class="container">
                                <div class="row">
                                    <div class="col w-25">
                                        <button routerLink="/subscription" class="w-100 bg-dark text-white"
                                            mat-button>{{ 'subscriptionDetail.subscribe' | translate }}</button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf ="!subscriptionEntity || loading">
    <div class="loader text-center"></div>
</ng-container>