<div class="container">
    <div class="row border mat-elevation-z4 mb-5 w-75 mx-auto mt-3 rounded pt-3">
        <h1 class="text-white mx-auto">WAITER REQUESTS:</h1>
    </div>
    <div class="row mt-5">
        <mat-accordion class="mx-auto w-100" *ngFor="let restaurantTable of restaurantTables">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header class="">
                    <mat-panel-title class="pt-3 pb-2">
                        <span matBadge="2" matBadgeOverlap="false" matBadgeColor="warn">Table {{restaurantTable.tableNumber}}</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="container">
                    <ng-container *ngFor="let bill of restaurantTable.billDTOList">
                        <ng-container *ngFor="let orderItem of bill.orderItems">

                            <mat-divider></mat-divider>
                            <div class="row d-flex justify-content-between mb-2 mt-2">
                                <p class="mr-auto">{{orderItem.product.name}}</p>
                                <button mat-raised-button class="bg-danger text-white ml-auto" (click)="completeOrder(orderItem)">Complete</button>
                            </div>
                        </ng-container>
                    </ng-container>
                  
                </div>
            </mat-expansion-panel>
        </mat-accordion>


       
    </div>


</div>