<div class="modal-body bg-dark p-0" >
    <div class="container">
        <div class="row">
            <div class="col-sm-6 p-0">
                <img src="../../../assets/plate.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3 text-white">
                <h3>{{productDTO.name}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3 text-white">
                <p>{{productDTO.description}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mt-3 text-white">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item bg-dark border-white p-0">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 mt-3 p-0 w-50">
                                    <p class="float-left">PRIX :</p>
                                </div>
                                <div class="col-sm-6 mt-3 p-0 w-50  ">
                                    <p class="float-right">{{productDTO.prix}}</p>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer d-flex justify-content-between bg-dark">
    <button type="button" class="btn" style="background-color: #D11242;"
        data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success" (click)="updateCurrentBill(productDTO)" >Order</button>
</div>