<div class="container">
    <div class="row">
        <div class="col-sm-6 p-0">
            <img src="../../../assets/plate.jpg" class="img-fluid" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-3 text-white">
            <h3>Steak chico</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-3 text-white">
            <p>Le bel ecran Le bel ecran Le bel ecran Le bel ecran
                Le bel ecran Le bel ecran Le bel ecran Le bel ecranLe bel ecran
                Le bel ecranLe bel ecran Le bel ecran Le bel
                ecran
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mt-3 text-white">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item bg-dark border-white p-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 mt-3 p-0 w-50">
                                <p class="float-left">PRIX :</p>
                            </div>
                            <div class="col-sm-6 mt-3 p-0 w-50  ">
                                <p class="float-right">29.99</p>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-dark border-white p-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 mt-3 p-0 w-50">
                                <p class="float-left">PRIX :</p>
                            </div>
                            <div class="col-sm-6 mt-3 p-0 w-50  ">
                                <p class="float-right">29.99</p>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-dark border-white p-0">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 mt-3 p-0 w-50">
                                <p class="float-left">PRIX :</p>
                            </div>
                            <div class="col-sm-6 mt-3 p-0 w-50  ">
                                <p class="float-right">29.99</p>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-dark border-white p-0">
                    <div class="container">
                        <div class="row mb-4">
                            <div class="col-sm-6 mt-3 p-0 w-50">
                                <p class="float-left">PRIX :</p>
                            </div>
                            <div class="col-sm-6 mt-3 p-0 w-50  ">
                                <p class="float-right">29.99</p>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>