<div class="container">
  <div class="card mat-elevation-z8">
    <div class="card-header">
      <h1 class="text-center">CONTACT US</h1>
    </div>
    <div class="card-body">
      <form class="bg-white" [formGroup]="contactForm" >
      
        <div class="form-group">
          <label for="exampleFormControlSelect1">Type of issue</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="contactType">
            <option value="APPLICATIONBUG">Application bug</option>
            <option value="APPLICATIONADVICE">Application advice</option>
            <option value="APPLICATIONHELP">Application help</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Comment:</label>
          <textarea
            formControlName="comment"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
      </form>
    </div>
    <div class="card-footer text-center">
      <button type="submit" class="btn btn-primary" (click)="onSubmitForm()" >Send Message</button>
    </div>
  </div>
</div>
