<div class="container ">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mx-auto mt-5" style="width: 18rem;">
                <div class="card-body bg-dark rounded ">
                    <h5 class="card-title text-white ">CARD INFO</h5>
                    <form class="text-white w-100" style="margin: auto;">
                        <div class="form-group mt-4">
                            <input type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Card Number">
                            <small id="emailHelp" class="form-text text-muted ">We'll never share your credit card number
                                else.</small>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 p-0 pb-3">
                                    Expiration Date
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 p-0 w-50 pr-1">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            placeholder="MM-YY">
                                    </div>
                                </div>
                                <div class="col-sm-6 p-0 w-50">
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1"
                                            placeholder="Postal Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ">
                            <input type="number" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="CVV">
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input " id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">save my credit card</label>
                        </div>
                        <button type="submit" class="btn text-white" style="background-color: #D11242;">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>