<div class="container mb-5 pt-5">

  <!--mettre le component select et le button pour fetch le menu-->
  <div class="row  mb-5 mat-elevation-z8">
    <div class="col-lg-12 ">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="text-center text-white">Menu selection</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-9 col-8">
            <mat-form-field class="mr-5">
              <mat-label class="text-white">Select menu</mat-label>
              <mat-select >
                <mat-option value="option">Morning menu</mat-option>
                <mat-option value="option">Late night menu</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-lg-4 col-md-2 col-2">
            <button mat-raised-button>Show menu</button>

          </div>
        </div>
      </div>

    </div>
  </div>


  <!--Table component to render products-->

  <div class="row mat-elevation-z8 pb-3 pt-3">
    <h1 class="text-center ml-auto mr-auto text-white w-75">
      MY PRODUCTS
    </h1>
    <div class="container">
      <mat-form-field color="primary">
        <mat-label class="text-white">Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input />
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="bg-dark">
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let row">{{ row.id }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let row">{{ row.name }}</td>
          </ng-container>

          <!-- Category Column -->
          <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
            <td mat-cell *matCellDef="let row" class="text-center">{{ row.category }}</td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="" data-toggle="modal" data-target="#exampleModal">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Delete column-->
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button color="" aria-label="Example icon button with a home icon">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>

        <mat-paginator class="bg-dark text-white" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <div class="container">
      <button class="btn-block" mat-raised-button color="accent">
        Add Product
      </button>
    </div>

  </div>
</div>

<!-- product form -->
<app-product-form></app-product-form>