<div class="container">
    <div class="row h-100 bg-warning">
        <div class="col-10 col-lg-6 my-auto">
            <button mat-raised-button class="m-2 w-100 btn-dark text-white" routerLink="../login">Login</button>
            <button mat-raised-button class="m-2 w-100 btn-dark text-white" (click)="onGuestClicked()">Continue as guest</button>
            <span class="text-black">Don't have an account yet? <a class="text-primary" [routerLink]="['../sign-up','client']">sign up</a></span>
        </div>
    </div>
</div>