<div class="container h-100">
    <div class="row h-100">
        <div class="col-10 col-lg-6 my-auto mx-auto">
            <button mat-raised-button class="m-2 w-100 btn-dark text-white" routerLink="../login">Login</button>
            <button mat-raised-button class="m-2 w-100 btn-dark text-white" (click)="onGuestClicked()">Continue as guest</button>
            <span class="text-black ml-2">Don't have an account yet? <a class="text-primary" [routerLink]="['../sign-up','client']">sign up</a></span>
            <br>
            <span class="text-black ml-2">Owner? Register here <a class="text-primary" [routerLink]="['../sign-up','owner']">sign up</a></span>
        </div>
    </div>
</div>