<div *ngIf="data" class="mt-0">
    <h1 class="text-center">{{data.product.name}}</h1>

    <div>
        <img class="img-fluid" style="border-radius: 2px;" [src]="getImage(data.product.imgFileDTO.id)" alt="Photo of a Shiba Inu">
    </div>

    <div>
        <p class="mt-4">COMMENTAIRES :</p>
        <p>{{data.product.description}}</p>

        <div>
            <p class="text-left mt-2">{{nombreDeMinuteRestant}} minutes restantes</p>

            <div>
                <mat-progress-bar class="mb-3 mt-3" mode="determinate" [value]="nombreDeMinutesSur100">
                </mat-progress-bar>
            </div>
        </div>

        <ng-container *ngFor='let option of data.option'>
            <h4>{{option.name}}</h4>

            <mat-radio-group aria-label="Select an option" *ngFor='let checkItem of option.checkItemList;let i=index;'>
                <mat-radio-button disabled="true" [checked]="checkItem.isActive" class="mr-2" [value]='i'>
                    {{checkItem.name}}
                </mat-radio-button>

            </mat-radio-group>
        </ng-container>
    </div>

    <mat-divider></mat-divider>

    <button mat-raised-button class="btn-block bg-dark text-white mt-3" (click)="onNoClick()">close</button>
</div>