<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center text-white mb-5">
            <h3>MY ORDERS</h3>
        </div>
    </div>
    <div class="row mt-3" *ngFor="let orderItem of billDTO.orderItems;let i = index">
        <app-client-request-item (orderItemDetailChanged)="changeOrderItemToPassToModal($event)"
            [orderItemDTO]="orderItem"></app-client-request-item>
    </div>
</div>
<!-- Modal -->
<app-client-request-item-detail [orderItemDTO]="orderItemToPassToModal"></app-client-request-item-detail>