<ng-container *ngIf="billDTO">
    <div class="container">
        <h2 class="font-weight-normal text-left mt-1">{{ 'clientRequestList.pageTitle' | translate }}</h2>

        <div class="mt-3" *ngFor="let orderItem of billDTO.orderItems;let i = index">
                <app-client-request-item class="bg-dark" [orderItemDTO]="orderItem">
                </app-client-request-item>
        </div>

        <div *ngIf="billDTO.orderItems.length == 0">
            <p>{{'clientRequestList.noOrder' | translate}}</p>
        </div>
    </div>
    <div class="text-right" *ngIf="billDTO.orderItems.length > 0">
        <h3 class="mt-4 mr-4">Prix total : {{billDTO.prixTotal.toFixed(2)}} $</h3>
        <button class="btn mt-2 mr-4 btn-dark text-white" *ngIf="isAllOrdersCompleted()" routerLink="/paymentChoice" mat-button>{{ 'clientRequestList.checkout' | translate }}</button>
    </div>
</ng-container>
<mat-spinner class="mx-auto mt-5" *ngIf="!billDTO" [diameter]="30" [strokeWidth]="5"></mat-spinner>
