<header class="bg-secondary text-center d-flex justify-content-center">
  <img src="../assets/logo.PNG" alt="" class="align-self-center">
</header>


<div id="page-container" class="bg-dark">
  <div id="content-wrap" class="pt-3">
    <router-outlet></router-outlet>

  </div>
</div>


<footer class="fixed-bottom">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" routerLink="paymentChoice"><img src="../assets/receipt.png"
        alt="payment" class="img-fluid" width="35%"></button>
    <button type="button" class="btn btn-secondary" routerLink="menu"><img src="../assets/dinner.png" alt="menu"
        class="img-fluid" width="35%"> </button>
    <button type="button" class="btn btn-secondary" routerLink="waiter"><img src="../assets/waiter.png" alt="waiter"
        class="img-fluid" width="35%"></button>
  </div>
</footer>
