@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

header{
    height: 100px;
}

div img {
    margin-top: 15px;
}
.routing-outlet{
  margin-bottom: 60px;
}

::ng-deep .mat-button-toggle-button:focus {
  outline: none !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
  
#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}
  
body { margin: 0; font-family: 'Muli', sans-serif; }


h1, h2, h3, h4, h5 {
    font-family: 'Muli', sans-serif;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
::ng-deep .mat-snack-bar-container{
  color: black !important;
  background-color: white !important;
  border-color:black !important;
}
::ng-deep .mat-simple-snackbar-action {
  color: white;
  background-color: black;
  border-radius: 5px;
}