<header class="bg-secondary text-center d-flex justify-content-center" style="background-color: #4166f5;" *ngIf="isConnected()">
  <img src="../assets/logo.PNG" alt="" class="align-self-center">
</header>


<div id="page-container" >
  <div id="content-wrap" class="pt-3">
    <router-outlet></router-outlet>
  </div>
</div>


<footer class="fixed-bottom">
  <!--CLIENT VIEW-->
  <ng-container *ngIf="false" >
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" routerLink="paymentChoice"><img src="../assets/receipt.png"
        alt="payment" class="img-fluid" width="35%"></button>
        <button type="button" class="btn btn-secondary" routerLink="menu"><img src="../assets/dinner.png" alt="menu"
          class="img-fluid" width="35%"> </button>
          <button type="button" class="btn btn-secondary" routerLink="waiter"><img src="../assets/waiter.png" alt="waiter"
            class="img-fluid" width="35%"></button>
          </div>
  </ng-container>
  <ng-container >
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="w-100">
      <mat-button-toggle value="bold" class="w-100" routerLink="paymentChoice" ><mat-icon>payment</mat-icon></mat-button-toggle>
      <mat-button-toggle value="italic" class="w-100" routerLink="menu"><mat-icon>restaurant_menu</mat-icon></mat-button-toggle>
      <mat-button-toggle value="underline" class="w-100"><mat-icon>room_service</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>

  <!--WAITER VIEW-->
  <ng-container *ngIf="false">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="w-100">
      <mat-button-toggle value="italic" class="w-100"><mat-icon>receipt_long</mat-icon></mat-button-toggle>
      <mat-button-toggle value="underline" class="w-100"><mat-icon matBadge="15" matBadgeColor="warn" matBadgeOverlap="true">room_service</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>

  <!--WAITER VIEW-->
  <ng-container *ngIf="false">
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="w-100">
      <mat-button-toggle value="italic" class="w-100"><mat-icon matBadge="15" matBadgeColor="warn" matBadgeOverlap="true">receipt_long</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </ng-container>
      
  <!--ADMIN VIEW-->
  <ng-container *ngIf="false">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" routerLink="paymentChoice"><img src="../assets/receipt.png"
        alt="payment" class="img-fluid" width="35%"></button>
        <button type="button" class="btn btn-secondary" routerLink="menu"><img src="../assets/dinner.png" alt="menu"
          class="img-fluid" width="35%"> </button>
          <button type="button" class="btn btn-secondary" routerLink="waiter"><img src="../assets/waiter.png" alt="waiter"
            class="img-fluid" width="35%"></button>
          </div>
  </ng-container>
</footer>
