<!--<div style="border-bottom: 2px solid white; border-top: 2px solid white;" class="pt-3">
    <h1 style="font-size:larger; " class="text-center text-white">NEED HELP ?</h1>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-sm-6 text-center mt-5">
            <button class="btn text-white w-75" style="background-color: #D11242; border: none; height: 50px;">CALL
                WAITER</button>
        </div>
    </div>

    <div class="row mt-5" style="border-bottom: 2px solid white; border-top: 2px solid white;">
        <div class="col-sm-8 mt-2">
            <h1 style="font-size:larger; "   class="text-center text-white">SPECIFIC DEMAND </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center ">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item bg-dark text-white  border-white" >
                    <div class="container">
                        <div class="row  align-items-center">
                            <div class="col-sm-2 w-50 text-left ">
                                <p class="m-0 align-middle">FORK</p>
                            </div>
                            <div class="col-sm-2 w-50">
                                <button class="btn  text-white " style="background-color: #D11242; border: none; height: 50px;">Request</button>
                            </div>    
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-dark text-white  border-white" >
                    <div class="container">
                        <div class="row  align-items-center">
                            <div class="col-sm-2 w-50 text-left ">
                                <p class="m-0 align-middle">KETCHUP</p>
                            </div>
                            <div class="col-sm-2 w-50">
                                <button class="btn  text-white " style="background-color: #D11242; border: none; height: 50px;">Request</button>
                            </div>    
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-dark text-white  border-white" >
                    <div class="container">
                        <div class="row  align-items-center">
                            <div class="col-sm-2 w-50 text-left ">
                                <p class="m-0 align-middle">SALT</p>
                            </div>
                            <div class="col-sm-2 w-50">
                                <button class="btn  text-white " style="background-color: #D11242; border: none; height: 50px;">Request</button>
                            </div>    
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-dark text-white  border-white" >
                    <div class="container">
                        <div class="row  align-items-center">
                            <div class="col-sm-2 w-50 text-left ">
                                <p class="m-0 align-middle">SUGAR</p>
                            </div>
                            <div class="col-sm-2 w-50">
                                <button class="btn  text-white " style="background-color: #D11242; border: none; height: 50px;">Request</button>
                            </div>    
                        </div>
                    </div>
                </li>
                <li class="list-group-item bg-dark text-white  border-white" >
                    <div class="container">
                        <div class="row  align-items-center">
                            <div class="col-sm-2 w-50 text-left ">
                                <p class="m-0 align-middle">Cras justo odio</p>
                            </div>
                            <div class="col-sm-2 w-50">
                                <button class="btn  text-white " style="background-color: #D11242; border: none; height: 50px;">Request</button>
                            </div>    
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>