<!--<div style="border-bottom: 2px solid white; border-top: 2px solid white;" class="pt-3">
    <h1 style="font-size:larger; " class="text-center text-white">NEED HELP ?</h1>
</div>-->
<div class="container" *ngIf="requestProductList">
    <div class="row mt-3">
        <div class="col-sm-8 mt-2">
            <h1 style="font-size:larger;border-bottom: 2px solid black; border-top: 2px solid black; " class="text-center text-dark">{{'waiter.waiterTitle' | translate}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 text-center mt-2" >
            <button mat-button (click)="sendClientRequest(waiterCallProduct)" class="btn text-white w-75 btn-dark">{{ 'waiter.callWaiter' | translate }}</button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-sm-8 mt-2">
            <h1 style="font-size:larger;border-bottom: 2px solid black; border-top: 2px solid black; " class="text-center text-dark">{{'waiter.waiterDemand' | translate}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center ">
            <ul class="list-group list-group-flush ">
                <li class="list-group-item" *ngFor="let product of requestProductList;">
                    <div class="container">
                        <div class="row  align-items-center mat-elevation-z4 p-4">
                            <div class="col p-0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col pr-0">
                                            <img [src]="imgUrl +product.imgFileDTO.id" style="width: 80% ;" alt="">
                                        </div>
                                        <div class="col">
                                            <p class="m-0 mt-2 align-middle">{{product.name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col ">
                                <button (click)="sendClientRequest(product)" mat-button class="btn text-white  btn-dark">{{ 'waiter.demander' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>