<ng-container *ngIf="isReady">
    <mat-card class="example-card mt-4">
        <mat-card-header>
            <mat-card-title>{{orderItem.product.name}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="imgUrl+ orderItem.product.imgFileDTO.id" alt="Photo of a Shiba Inu">
        <h4>COMMENTAIRES :</h4>
        <mat-card-content>
            <p>
                {{orderItem.commentaires}}
            </p>
            <div class="container">
                <div class="row">
                    {{nombreDeMinuteRestant}} minutes restantes
                </div>
                <div class="row">
                    <div class=" col-lg-6 w-75 p-0 ">
                        <mat-progress-bar class="mb-3 mt-3" mode="determinate" [value]="nombreDeMinutesSur100">
                        </mat-progress-bar>
                    </div>
                    <div class=" col-lg-6 w-25">
                        <button (click)="addTime()" mat-button>+</button>
                    </div>
                </div>
            </div>
            <ng-container *ngFor='let option of orderItem.option'>
                <h4>{{option.name}}</h4>
                <mat-radio-group aria-label="Select an option"
                    *ngFor='let checkItem of option.checkItemList;let i=index;'>
                    <mat-radio-button disabled="true" [checked]="checkItem.isActive" class="mr-2" [value]='i'>
                        {{checkItem.name}}
                    </mat-radio-button>
                </mat-radio-group>
            </ng-container>
            <div class="mt-3 p-0">
                <div *ngFor='let checkItem of orderItem.checkItems'>
                    <mat-checkbox (click)="updateCheckItem(checkItem)" disabled="true" [checked]="checkItem.isActive"
                        class="example-margin">{{checkItem.name}}
                        <ng-container *ngIf="checkItem.prix>0">
                            {{checkItem.prix}} $
                        </ng-container>
                    </mat-checkbox>
                </div>    
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button (click)="terminerCommande(orderItem)" class="w-75 btn btn-default bg-dark text-white" mat-button>Done</button>
        </mat-card-actions>
    </mat-card>
</ng-container>