<div class="container" [hidden]="loader" id="subscriptionContainer">
    <div class="row" [hidden]="isPaymentRetry">
        <ng-container *ngFor="let product of subscriptionProducts;let i = index;">
            <div class="col-6 w-50 ">
                <mat-card (click)="changeSubscriptionProduct(product,i)" class="example-card mt-4">
                    <mat-card-header>
                        <mat-card-title>{{product.productName}}: {{product.productPrice | currency}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="ml-3" *ngFor="let description of findSubscriptionProductDescription(product)">- {{description}}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="w-100 bg-dark text-white" (click)="changeSubscriptionProduct(product,i)"
                            mat-button>{{ 'ownerSubscription.choose' | translate }}</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </ng-container>
    </div>
    <div class="row">
        <div *ngIf="isPaymentRetry" class="p-3 pb-0">
            <p class="text-danger">{{ 'ownerSubscription.errorWithPaymentMethod' | translate }}</p>    
        </div>
        
        <div class="col-12 w-50">
            <mat-card class="example-card mt-4">
                <form id="subscription-form">
                    <div id="card-element" class="MyCardElement" style="height: 50px;">
                        <!-- Elements will create input elements here -->
                    </div>

                    <!-- We'll put the error messages in this element -->
                    <div id="card-errors" role="alert"></div>
                    <button (click)="submitForm()" class="w-100 bg-dark text-white" mat-button>{{ 'ownerSubscription.subscribe' | translate }}</button>
                </form>

                <p class="text-danger d-none" id="paymentErrorTxt">{{ 'ownerSubscription.errorOnPayment' | translate }}</p>
                <p class="text-danger d-none" id="subscriptionErrorTxt">{{ 'ownerSubscription.noPlanSelected' | translate }} </p>
            </mat-card>
        </div>
    </div>
</div>

<mat-spinner *ngIf="loader" class="mx-auto mt-5" [diameter]="60" [strokeWidth]="5">
