<form [formGroup]="restaurantForm">
  <!--HEADER-->
  <h1 mat-dialog-title class="text-center">{{title}}</h1>
  <mat-divider></mat-divider>

  <!--BODY-->
  <div class="text-center mx-auto col-lg-12 mt-2">
    <!--restaurant name-->
    <p>
      <mat-form-field appearance="outline" [ngClass]="{'w-75': data,'w-50': !data}">
        <mat-label>Restaurant name</mat-label>
        <input matInput placeholder="Ex. The Keg" formControlName="name" autocomplete="off">
        <mat-hint>name</mat-hint>
        <mat-error>name cannot be blank</mat-error>
      </mat-form-field>
    </p>

    <p *ngIf="!data" >
      <mat-form-field appearance="outline" class="w-50">
        <mat-label>Table count</mat-label>
        <input matInput type="number" placeholder="Ex. 15" formControlName="tableAmount" autocomplete="off">
        <mat-hint>amount</mat-hint>
        <mat-error>amount cannot be blank</mat-error>
      </mat-form-field>
    </p>

    <!--tables count-->
    <ng-container *ngIf="data">
      <mat-divider></mat-divider>
        <div class="text-center">
        <!--HEADER-->
        <h1 class="text-center">Restaurant tables</h1>

        <!--BODY-->

        <mat-divider></mat-divider>
        <div class="d-flex justify-content-between p-3">
          <p class="font-weight-bold">Table Number</p>
          <p class="font-weight-bold">Action</p>
        </div>

        <mat-divider></mat-divider>

        <div style="min-height: 300px; max-height: 350px;" class="overflow-auto">
          <div class="d-flex justify-content-between mt-2" *ngFor="let table of data.restaurentTablesDTO">
            <p class="m-1">{{table.tableNumber}}</p>
            <button mat-raised-button class="btn-dark text-white m-1" (click)="onDeleteTable(table.id)">Delete</button>
          </div>
        </div>
        <button mat-raised-button class="btn-dark text-white btn-block" (click)="openDialog()">Add table</button>
      </div>

    </ng-container>

    <mat-divider></mat-divider>

    <div class="d-flex justify-content-between mt-2">
      <button mat-raised-button class="btn-dark text-white" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button class="btn-dark text-white" cdkFocusInitial (click)="onSubmitForm()"
        *ngIf="!data">Create</button>
      <button mat-raised-button class="btn-dark text-white" cdkFocusInitial (click)="onSubmitForm()"
        *ngIf="data">Update</button>
    </div>
  </div>
</form>