/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');

html, body { height: 100%; }

body { margin: 0; font-family: 'Muli', sans-serif; }


h1, h2, h3, h4, h5 {
    font-family: 'Muli', sans-serif;
}

  