<div class="container-fluid mat-elevation-z3" *ngIf="orderItemDTO">
    <div class="row">
        <div class="col-4">
            <h3 class="mt-2">{{orderItemDTO.product.name}}</h3>
        </div>
        
        <div class="col-4 text-center" *ngIf="!isOrderReadyOrCompleted()">
            <h3 class="mt-2">{{nombreDeMinuteRestant}} minutes </h3>
        </div>

        <div class="col-4 text-center" *ngIf="isOrderReadyOrCompleted()">
            <h3 class="mt-2">{{orderItemDTO.orderStatus.toString()}} </h3>
        </div>

        <div class="col-4">
            <button class="btn btn-dark mt-2 text-white" mat-button (click)="openDialog()">{{'clientRequestItem.moreBtnTxt'|translate}}</button>
        </div>
    </div>

    <div class="row" *ngIf="!isOrderReadyOrCompleted()">
        <div class="container">
            <div class="row">
                <div class="col">
                    <mat-progress-bar class="mb-3 mt-3" mode="determinate" [value]="nombreDeMinutesSur100">
                    </mat-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>