<div class="container  text-center ">
    <h3 class="pt-4 ">{{ 'paymentChoice.choosePayment' | translate }}</h3>
    <div class="row">
        <div class="col-sm-6">
            <form class="w-100 ">
                <div class="card-element-apple-pay"  id="card-element-apple-pay" style="height: 50 px;"><!--Stripe.js injects the Card Element--></div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center">
            <button class="btn btn-dark  text-white mt-4 w-100" (click)="openDialog()" 
                style="border: none; height: 50px;">{{ 'paymentChoice.payNow' | translate }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-center">
            <button class="btn btn-dark  text-white mt-4 w-100" mat-button data-toggle="modal" data-target="#waiterArrivalModal"
                style=" border: none; height: 50px;">{{ 'paymentChoice.requestTerminal' | translate }}</button>
        </div>
    </div>
</div>
