<h1 class="text-center border-bottom mt-3">Menu</h1>
<ng-container *ngIf='menu && hasRestaurantId'>
    <!--MENU TITLE + IMAGE + LIST OF ITEMS-->
    <mat-accordion *ngFor="let menuItem of menu">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{menuItem.name}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ul style="list-style-type: none;" class=" p-0">
                <ng-container *ngIf='menu'>
                    <li style="border-bottom: 2px solid white;"
                        *ngFor="let product of  menuItem.products; index as i; trackBy: trackByFn "
                        (click)="openDialog(product)"
                        class="d-flex justify-content-between align-items-center mat-elevation-z4 mb-2 p-3">
                        <div class="container">
                            <div class="row">
                                <h1 style="font-size: medium;" class="mb-0">{{product.name}}</h1>
                            </div>
                            <div class="row">
                                <p style="font-size: small;" class="m-0 p-0">{{product.description}}</p>
                            </div>
                            <div class="row">
                                <p style="font-size: small;" class="m-0 p-0">${{product.prix}}</p>
                            </div>
                        </div>
                        <img mat-card-image class="w-50" [src]="getImage(product.imgFileDTO.id)">
                    </li>
                </ng-container>

            </ul>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>

<ng-container *ngIf='!menu && hasRestaurantId' class="text-center">
    <div class="loader text-center"></div>
</ng-container>
<ng-container *ngIf="!hasRestaurantId text-center ">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h4>Scannez le code QR de votre table</h4>
                <zxing-scanner style="height: 100px;" (scanSuccess)="scanSuccessHandler($event)"></zxing-scanner>
            </div>
        </div>
    </div>
</ng-container>